{
    "endOfLine": "lf",
    "semi": true,
    "singleQuote": true,
    "useTabs": false,
    "tabWidth": 4,
    "trailingComma": "es5",
    "printWidth": 120,
    "overrides": [
        {
            "files": ["package.json", "*.yml"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
