@font-face {
    font-family: 'Arimo Bold';
    src: url('/fonts/Arimo-Bold.ttf');
}

@font-face {
    font-family: 'Arimo Regular';
    src: url('/fonts/Arimo-Regular.ttf');
}

@font-face {
    font-family: 'Cabin Regular';
    src: url('/fonts/Cabin-Regular.ttf');
}

@font-face {
    font-family: 'Cabin Bold';
    src: url('/fonts/Cabin-Bold.ttf');
}

@font-face {
    font-family: 'Work Sans Thin';
    src: url('/fonts/WorkSans-Thin.ttf');
}
@font-face {
    font-family: 'Work Sans Semi-Bold';
    src: url('/fonts/WorkSans-SemiBold.ttf');
}

@font-face {
    font-family: 'Work Sans Regular';
    src: url('/fonts/WorkSans-Regular.ttf');
}

body {
    color: #303030;
    font-family: 'Cabin Regular', 'Arimo Regular', -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: $font-size-base;
    line-height: 1.5;
    font-style: normal;

    .wst {
        font-family: 'Work Sans Thin';
    }
    .wsr {
        font-family: 'Work Sans Regular';
    }
    .wssb {
        font-family: 'Work Sans Semi-Bold';
    }
}
// prettier-ignore
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

h1 {
    font-size: $h1-font-size;
}

h2 {
    font-size: $h2-font-size;
}

h3 {
    font-size: $h3-font-size;
}

h4 {
    font-size: $h4-font-size;
}

h5 {
    font-size: $h5-font-size;
}

h6 {
    font-size: $h6-font-size;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

b,
strong {
    font-weight: 600;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

small {
    font-size: 0.875rem;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

.lead {
    font-size: rem(24);
    line-height: rem(38);
    font-weight: $light-weight;
}

p > svg,
li > svg {
    vertical-align: middle;
    display: inline-block;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.txt-center {
    text-align: center !important;
}

.txt-right {
    text-align: right !important;
}

.txt-left {
    text-align: left !important;
}

.txt-bold {
    font-weight: 700 !important;
}

.txt-light {
    font-weight: 300 !important;
}

.overflow-x-hidden {
    overflow-x: hidden;
}

.txt-underline {
    text-decoration: underline;
}
